@font-face {
    font-family: BCD;
    src: url('./font/digit_italic.ttf') format('truetype');
}
body{
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    background-color: rgb(32, 87, 69);
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    height: 28em;
    width: 20em;
    background-color: black;
    padding: 10px;   
    border-radius: 5%; 
}

#calculator{
    display:grid;
    grid-template-columns: repeat(4,4.95em);
    grid-template-rows: 4em repeat(5,4.65em);
    gap:1px;
    user-select: none;
}
.key{
    font-family: 'Audiowide', cursive;
    font-size: 1em;
    background-color: rgb(73, 71, 71);
    border:0;
    margin:0;   
    padding:0;
    color:white;
    border-radius: 3px;
}

#display{
    grid-column: 1/5;
    padding: 1px;
    order:-1;
}
#op{
    font-size: 2em;
    height: 2rem;
    color:aliceblue;
}

#display p{
    font-family: BCD;
    margin:0;
    text-align: end;
}
#result{
    font-size: 1.5em;
    height: 1.5rem;
    color:rgb(232, 169, 52);
}
#clear{
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: brown;
    border-top-left-radius: 5px;
}
#divide,#multiply,#subtract,#add{
    background-color: rgb(66, 123, 172);
}
#zero{
    grid-column: 1/3;
    grid-row: 6/7;
    border-bottom-left-radius: 15px;
}
#divide{
    order:1;
}
#multiply{
    order:2;
    border-top-right-radius: 5px;
}
#seven{
    order:3;
}
#eight{
    order:4;
}
#nine{
    order:5;
}

#subtract{
    order:6;
}

#four{
    order:7;
}
#five{
    order:8;
}
#six{
    order:9;
}
#add{
    order:10;
}
#one{
    order:11;
}
#two{
    order:12;
}
#three{
    order:13;
}
#decimal{
    order:14;
}

#equals{
    grid-column:4/5;
    grid-row: 5/7;
    background-color: rgb(99, 95, 180);
    border-bottom-right-radius: 15px;
}

.key:hover{
    filter:brightness(90%)
}